<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


<div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">  

<div class="text-center pt-5">


<h2 class="border5">engawa</h2>

<br>

<h4 class="first">engawaはイラストレーター様が抱えている問題</h4>
<ul>

<br>

<li>1. SNSの台頭により相場より低く依頼を受けてしまう</li>
<li>2. 企業や依頼者とコンタクトする方法が限られている</li>

</ul>


<p>を解決する依頼投稿型サイトです。</p>

<br>

<p>SNSと連携することでまどろっこしいやり取りを抜きにして依頼を受けることができます。</p>

<br>

<p>原則依頼者様は法人の方向けのサービスとなっておりますが一般の方もご利用可能です。</p>

<br>

<h5>アカウントを登録</h5>
<h6 class="maru">
イラストレーターの方は<%= link_to "こちら", new_illustrator_registration_path %>
<br>
<br>
依頼者の方は<%= link_to "こちら", new_company_registration_path %>
</h6>