
<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


<div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">  

<h2 class="text-center pt-5">依頼の編集</h2>

<%= render 'form', order: @order %>

<%= link_to '詳細の確認', @order %> |
<%= link_to '戻る', illustrator_path(id: current_illustrator) %>
