<div>
  <div class="col-md- offset-md-4">
  	<h2 class="text-center pt-5">新規依頼</h2>

     <%= render 'form', order: @order %>
     
     <div class="test-left">
     <button type="button" class="btn btn-outline-secondary">
     <%= link_to 'TOP', root_path %>
 </button>
  </div>
</div>